<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
<<<<<<< HEAD
fffff ggg Contact Ruby on Rails Tutorial about the sample app at the
=======
aaaaaa Contact Ruby on Rails Tutorial about the sample app at the
>>>>>>> feature/rm128482_20160325_wanghuifang_test
<a href="http://railstutorial.org/contact">contact page</a>.
</p>
